{% assign list_styles = 'ma0 dimtk hover-bg-near-black hover-white pa0 pv3 flex-grow' %}
{% assign link_styles = 'link white-60 hover-white f5 ph3 pv3' %}
<ul id="menu" class="list flex-ns flex-wrap ma0 pa0 bg-dark-primary-color waypoint">
  <li class="{{ list_styles }} referrals-and-communication section-1">
    <a class="{{ link_styles }}" href="/#referrals-and-communication">Referrals & Communication</a>
  </li>
  <li class="{{ list_styles }} preliminary-examination section-2">
    <a class="{{ link_styles }}" href="/#preliminary-examination">Preliminary Examination</a>
  </li>
  <li class="{{ list_styles }} investigation section-3">
    <a class="{{ link_styles }}" href="/#investigation">Investigation</a>
  </li>
  <li class="{{ list_styles }} arrest-warrant-and-summons section-3">
    <a class="{{ link_styles }}" href="/#arrest-warrant-and-summons">Arrest Warrants & Summons</a>
  </li>
  <li class="{{ list_styles }} confirmation-of-charges section-3">
    <a class="{{ link_styles }}" href="/#confirmation-of-charges">Confirmation of Charges</a>
  </li>
  <li class="{{ list_styles }} trial-and-appeal section-4">
    <a class="{{ link_styles }}" href="/#trial-and-appeal">Trial & Appeal</a>
  </li>
  <li class="{{ list_styles }} sentencing-and-reparations section-5">
    <a class="{{ link_styles }}" href="/#sentencing-and-reparations">Sentencing & Reparations</a>
  </li>
</ul>
