<header id="banner">
  <div class="cover bg-left bg-center-l" style="background-image: url(https://www.aba-icc.org/uploads/1431095283480_bg-icc-wh-1600x900.jpg)">
    <div class="bg-dark-primary-color-80 pb4 pb5-m pb6-l">
      <a href="/">
        <img src="/uploads/logo-aba-icc_144xb.png" alt="ABA-ICC Project Logo" class="h4 absolute left-1 top-1" style="height:6.5rem;">
      </a>
      <nav class="dt w-100 mw8TK center">

        <div class="dtc v-mid tr pa3">
          <a class="f6 fw4 hover-white no-underline white-70 dib ml2 pv2 ph3 ba" href="https://www.aba-icc.org/about-the-icc/about-the-icc/" >Return to the ABA-ICC project</a>
        </div>
      </nav>
      <div class="tc-l mt5 mt5-m mt6-l ph3">
        <h1 class="f2 f1-l bold white-90 mb0 lh-title">{{ site.title }}</h1>
        <h2 class="fw1 f3 white-80 mt3 mb4 measure center">{{ site.description }}</h2>

        <a class="f6 no-underline grow dib v-mid white ba b--white ph3 pv2 mb3" href="#introduction">Start</a>
      </div>
    </div>
  </div>
</header>
