<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/shortcuts/sticky.min.js"></script>
<script src="/assets/js/shortcuts/inview.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/force-js/0.1.1/force.min.js"></script>
<script type="text/javascript">
force.bindHashes();
jQuery(document).ready(function(e) {
  var $stickymenu = $('.waypoint')

  var sticky = new Waypoint.Sticky({
    element: $stickymenu,
    stuckClass: 'fixed-l w-100-l top-0'
  });



  {% assign sections = site.collections | where: 'primary_section', true  %}
  {% for section in sections  %}

  var inview = new Waypoint.Inview({
    element: $('#{{ section.label }}')[0],
    enter: function(direction) {
      console.log('Enter triggered with direction ' + direction)
      $('#menu .{{ section.label }} a').addClass('white')
    },
    exited: function(direction) {
      console.log('Exit triggered with direction ' + direction)
      $('#menu .{{ section.label }} a').removeClass('white').addClass('white-40')
    }
  })

  {% endfor %}

});

</script>
