---
layout: default
schema: 'Article'
---
{% include global/hero.html %}
{% include navigation-how-the-icc-works.html %}

{% assign sections = site.collections | where: 'primary_section', true  %}
{% assign sections = sections | sort: 'order' %}

    {% assign section_name = page.label %}
    {% assign section_documents= site.section_name %}
    {% assign section_introduction = section_documents | where: 'slug', 'introduction' %}
    {% assign section_body = section_documents | where_exp: 'item', ' item.slug != "introduction" '  %}
    <!-- | sort: 'sort_order' -->
    <!-- {% unless forloop.index0 == 0 %}
      {% assign section_body_classes = 'bg-white black pv3 ph3 pv3-ns ph4-ns ba b--bqlack-10 mb2' %}
      {% assign section_heading_classes = 'ttu silver mb0' %}
      {% else  %}
        {% assign section_heading_classes = 'dn' %}
    {% endunless %} -->
  <main id="content" role="main">

    <section id="{{ section_name }}" class="{{ section_name }}">

      {% if page.category %}
        <h1 class="f2 f1-ns ma0 bg-dark-primary-color white pv4 ph3 ph4-ns">
            {{ page.category }}
        </h1>
      {% endif %}

      <div class="pa3 pa4-ns flex-ns flex-wrap-ns" data="section">

        <h2 class="f2 ma0 pv3 w-100">
          <a href="{{ page.url }}" class="link black dim">
            {{ page.title }}
          </a>
        </h2>

        <div class="w-50-l" data="section-introduction">

          {% for doc in section_introduction %}
            <h3 class="f3">
              {{ doc.title }}
            </h3>
            <div class="pr5-ns pb4 lh-copy nested-links">
              {{ doc.content }}
            </div>
          {% endfor %}
        </div>

        <div class="w-50-l" data="section-body">

          {% for doc in section_body %}
            <div class="{{ section_body_classes }}">
              <h6 class="{{ section_heading_classes }}">{{ section.name }}</h6>
              <h4 class="f3 mt3 mb0">
                {{ doc.title }}
              </h4>
              <div class="lh-copy dark-gray">
                {{ doc.content }}
              </div>
              {% comment %}<!-- look for related articles -->{% endcomment %}
              {% if doc.cases %}
                <div class="mb3">
                  <h5 class="f4 mb3">
                    Cases
                  </h5>
                  {% for item in doc.cases %}
                    {% assign data = site.cases | where: 'slug', item %}
                    {% for object in data  %}
                      <a href="{{ object.url }}" class="{{ section_name }} pv2 ph3 br2 dim link ba bg dib">
                        {{ object.title }}
                      </a>
                    {% endfor %}
                  {% endfor %}
                </div>
              {% endif %}

            </div>
          {% endfor %}

        </div>



      </div> <!-- //END section -->


    </section>
</main>
