<header class="bg-dark-primary-color text-on-primary-color">

  <a href="/" class="absolute mt3 ml3">
    <img src="/uploads/logo-aba-icc_144xb.png" alt="ABA-ICC Project Logo" class="h4 dib" style="height:6.5rem;">
  </a>

<nav class="relative flex items-baseline ml6 pa3 pa4-ns">

    <!-- <a href="/" class="b link f3 text-on-primary-color dib mr3">
      {{ site.title }}
    </a>

 -->
    {% for object in site.data.links-menu-top %}
     <a class="link ttu f6 f5-ns dib mr3 fw2{% if page.url == object.url %} accent-color{% else %} text-on-primary-color{% endif %}" href="{{ object.url }}" title="{{ object.title }}">
      {{ object.title }}
     </a>
    {% endfor %}


  </nav>
</header>
