.bg-dark-primary-color {background-color: var(--dark-blue)}
.bg-darkest-primary-color {background-color: var(--darkest-blue)}
.bg-dark-primary-color-80 {background-color: var(--darkest-blue-80)}

.text-on-primary-color {color: var(--white-90)}
.accent-color { color: var(--light-blue)}
.primary-color { color: #9E9595;}


.start-of-jurisdiction {
  background-color: var(--darkest-blue);
  color: white;
}
.preliminary-examination {
  background-color: color(var(--darkest-blue) lightness(15%));
  color: white;
}
.investigation {
  background-color: color(var(--darkest-blue) lightness(20%));
  color: white;
}
.arrest-warrant-and-summons {
  background-color: color(var(--darkest-blue) lightness(30%));
  color: white;
}
.confirmation-of-charges {
  background-color: color(var(--darkest-blue) lightness(40%));
  color: white;
}
.atrocity-crimes {
  background-color: color(var(--darkest-blue) lightness(50%));
  color: white;
}
.trial-and-appeal {
  background-color: color(var(--darkest-blue) lightness(60%));
  color: white;
}
.sentencing-and-reparations {
  background-color: color(var(--darkest-blue) lightness(70%));
  color: white;
}
